 /* Under this Himanshu's code */
 html {
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* #f_foot_r img{
    border: 2px solid red;
    background-color: black;
    color: white;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    margin: 0 80px;
    background-color: #fff;
}


.logo {
    margin-left: 20px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 0.5vw;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1vw;
}

.search-bar button {
    padding: 0;
    border: none;
    background-color: #d32f2f;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1vw;
    text-wrap: nowrap;
}

.search-bar button i {
    font-size: 1.5vw;
}

.contact-info {
    text-align: right;
    padding-right: 20px;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}

.contact-info .phone-number {
    font-weight: bold;
    font-size: 16px;
}

.contact, .stores {
    color: red;
}


nav {
    background-color: #fff;
    border-top: 1px solid #eee;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px 80px;
    padding: 10px 80px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

nav ul li a.new {
    color: green;
}

nav ul li a.new::before {
    content: 'NEW';
    font-size: 10px;
    color: white;
    background-color: green;
    padding: 2px 4px;
    border-radius: 3px;
    margin-right: 5px;
}

nav ul li:hover {
    transform: scale(1.5);
    transition: transform .2s;

}

nav ul li a:hover {
    color: red;
    transition: 0.35s;
}

@media (max-width: 1200px) {
    .logo h1, .logo h1 span, .search-bar input, .search-bar button, .search-bar button i, .contact-info, .contact-info .phone-number, nav ul li a {
        font-size: 3vw;
    }

    header {
        margin: 2px 2px;
    } 
    
    .logo {
        margin-left: 0px;
        padding-left: 5px;
    }
    .search-bar {
        display: flex;
        flex-shrink: 0.75;  
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .search-bar button {
        display: flex;
        flex-shrink: 0.75;
        justify-content: flex-start;

    }

    .contact-info {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav, .contact-info {
        display: none;
    }
}









 /* Under this Shubh's & Chaitanya's code */











#instagram_text{
    position: absolute;
    margin-left: 10%;
    margin-top: -15%;
    font-weight: 900;
    font-size: 26px;
    color: white;
    padding: 0%;
}

#instagram_logo{
    position: absolute;
    margin-left: 80%;
    margin-top: -14%;
}

 /* Under this Hrithik's code  */


 #f_background{
    background-color: #232529;
    color: white;
    width: 100%;
    height: 600px;

 }

#f_head{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600px;
    padding-top: 3%;
    

    
}

#f_body_1{
    margin-left: 8.3%;
    font-family: sans-serif;
    font-size: 16px;

}


#f_body_2 {
    position: absolute;
    margin-left: 28%;
    margin-top: -31%;
    font-family: sans-serif;
    font-size: 16px;
   
    

}

#f_body_3 {
    position: absolute;
    font-family: sans-serif;
    font-size: 16px;
   
}

#f_body_4 {
    position: absolute;
    margin-left: 72%;
    margin-top: -32%;
    font-family: sans-serif;
    font-size: 18px;
   
}


#f_foot_l {
    position: absolute;
    margin-top: 5%;
    margin-left: 2%;
    font-weight: 400;
    font-size: 14px;

    

}

#f_foot_r {
    position: absolute;
    margin-left: 70%;
    margin-top: 5%;
    background-color: #222529;
    border-radius: 1%;
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    
    

}






 