/* general css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

/* header css */
header {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 80px;
    position: relative;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link img {
    width: 195px;
    padding: 17px 90px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    width: 450px;
}

.search-button {
    background: none;
    margin-right: 250px;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #333;
    font-size: 18px;
}

.contact-container {
    text-align: right;
    text-wrap: nowrap;
    width: 180px;
    margin-right: 25px;
}

.contact-text {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 150px;
}

.contact-number {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 180px;
    color: #222222;
}

/* Navigation css */

.kids {
    margin-right: 50px;
}

.contact-link {
    margin-left: 0px;
}


nav {
    display: flex;
    background-color: #fff;
    position: sticky;
    scroll-behavior: auto;

}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px 80px;
}

.nav-list li {
    padding: 10px 15px;
}

.nav-list li a {
    text-decoration: none;
    color: rgba(0,0,0,0.65);
    font-weight: bold;
    font-size: 12px;
}

.nav-list li:hover {
    transform: scale(1.05);
    transition: 0.35s;
}

.nav-list li:hover a {
    color: #e91e63;
    transition: color 0.3s ease;
}


.nav-list-2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 10px 80px;
}

.nav-list-2 li {
    padding: 10px 15px;
}

.nav-list-2 li a {
    text-decoration: none;
    color: rgba(0,0,0,0.65);
    font-weight: bold;
    font-size: 12px;
}

.nav-list-2 li:hover {
    transform: scale(1.05);
    transition: 0.35s;
}

.nav-list-2 li:hover a {
    color: #e91e63;
    transition: color 0.3s ease;
}


.nav-new {
    color: #4caf50;
}



/* main content css */
.slider-container {
    text-align: center;
    padding: 40px 0;
    background-color: #f4f4f4;
}

.main-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-bottom: 20px;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail-image {
    width: 150px;
    height: 240px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}

/* IG css */
.instagram-bar {
    position: relative;
    text-align: center;
}

.instagram-background {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.instagram-logo img {
    width: 100px;
    position: absolute;
    top: 20%;
    left: 47%;
}

.instagram-text {
    align-self: center;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    left: 25%;
    right: 25%;
    position: absolute;
    top: 50%;
}

/* footer css */
footer {
    background-color: #232529;
    color: #fff;
    padding: 50px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 23%;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #e91e63;
}

.footer-section p {
    margin: 5px 0;
    font-size: 14px;
    color: #bbb;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

.payment-icons img {
    width: 50px;
    margin: 0 10px;
}

.payment-icons {
    display: flex;
    justify-content: center;
}


/* compatibility :-) */

@media (max-width: 768px) {
    .header-container,
    .nav-list,
    .footer-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .nav-list li {
        padding: 10px 5px;
    }

    .slider-container,
    .instagram-bar {
        padding: 20px 10px;
    }

    .main-image,
    .thumbnail-image {
        width: 100%;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
    }
}


@media (max-width: 1200px) {
    .search-input {
        padding: 8px 12px;
        font-size: 14px;
        width: 250px;
    }
    .search-button {
        margin: 0px;
        padding: 8px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .instagram-logo img {
        top: 10%;
        left: 43%;
    }

    .instagram-text {
        top: 40%;    
    }
}